html {
    scroll-behavior: smooth;
    height:100%;
    
    &.lb {
        scroll-behavior: auto;
    }

    .emoji-picker {
        top: 230px !important;
    }
    
    body{
        font-family: 'Raleway', sans-serif;
        height:100%;
        border:0;
        margin:0;

        .bodywrap {
            background-image: url('/img/sand1.jpg');
            background-attachment: fixed;

            &.fullheight {
                height:100%;
            }

            &.autoheight {
                height:auto;
            }
        }

        .toprow {
            position:fixed;
            width:100%;           
            background-color: rgb(232,220,200);
            background: linear-gradient(180deg, rgba(232,220,200,1) 46%, rgba(115,166,208,1) 100%);
            z-index:100;
           
            box-shadow: 0px 3px 6px #aaa;
            height:55px;
            overflow:hidden;

            #head-wave {
                position:absolute;
                width:100%;

                img {
                    width:100%;
                    margin-top:-20px;
                }
            }

            .reg-header {
                position:absolute;
                z-index:9;
                top:10px;
                left:50%;
                margin-left:-100px;
            }
           

            h3 {
                position:absolute;                  
                line-height: 58px;
                float:left;               
                color:#fff;
                text-shadow: 1px 1px 3px #333;
                padding:0;
                margin:0;    
            }

            button {
                position:absolute;
                right:15px;
                padding:5px;
                margin:7px;
                margin-top:15px;               
            }

            #menubutton {
    
                font-size: 22px;
                line-height:22px;  
                background-color: rgba(255,255,2655, 0.7);
                border: none;
                border-radius: 3px;
                border: 1px solid #aaa;
                margin-top: 10px;
                margin-right: 0;
                width: 35px;
                height: 35px;               
                cursor:pointer;               
                 
            }

            #avatar {               
               
                text-align:center;
                display:block;
                float:left;
                margin-right:7px;
                margin-left:5px;
                margin-top:9px;
                width:40px;
                height:40px;
                border-radius:25px;
                box-shadow: 2px 2px 4px #858585;
                overflow:hidden;               

                img {
                    width:40px;
                    height:40px;
                }                
            }
        }


        .redCross {
            color: transparent; 
            text-shadow:0 0 0 rgb(220,20,20);
        }

        .greenTick { 
            color: transparent; 
            text-shadow:0 0 0 rgb(70, 190, 20);
        }

        #intro {
            .mainlogo {
                z-index: 1;
                position: absolute;
                width: 36%;
                height: 180px;
                left: 50%;
                margin-left: -18%;
                top: 15px;
                opacity: 1;
                top: 6%;
            }

            .enter {
                width: 60%;
                position: absolute;
                left: 50%;
                margin-left: -30%;
                top: 33%;
                text-align:center;

                p {
                    text-align: center;
                    font-size: 18px;
                    text-shadow: 0px 0px 1px #69f;
                } 
            }   
           

            .join-button {
                left: 50%;
                margin-top: 30px; 

                a {
                    text-decoration: none;
                    /* text-shadow: 0px 0px 1px #000; */
                    color: #5e96c5;
                    font-size: 20px;
                    display: block;
                    border: 2px solid #5e96c5;
                    border-radius: 7px;
                    padding: 10px;
                    background: rgba(255,255,255,1);
                    text-align: center;
                    width: 70px;
                    margin-left: -50px;
                }
            }           
        }

        #loading {
            position: absolute;
            width: 100%;
            top: 240px;
            z-index:-1;
        }


        #menu {        
            position:fixed;
            width:180px;
            top:60px;  
            right:-350px;  
            transition: right 0.3s ease-in-out; 
            z-index:99999;  

            &.show {
                z-index:1001;
                right:0px;
            }

            .menuwrap {
    
                background: rgba(0,0,0,0.5);
                padding: 4px;
                border-radius: 5px 0px 0px 5px;    
                button {
                    width:100%;
                    height:40px;
                    text-align:left;
                    font-size:16px;
                    background-color: rgba(230,230,230,0.9);
                    border: 1px solid #999;
                    i {
                        &.material-icons {
                            vertical-align: middle;
                            padding-right:5px;
                            font-size:28px;
                            color: #49606b;
                        }  
                    }
                }

                       
            }            
        }

        .wrap{
            width:100%;
            overflow:hidden;
            padding-top:50px;
            background-image: url('/img/sand1.jpg');
            background-attachment: fixed;

            @media only screen and (min-width: 768px) {
                width:800px;
                position:relative;
                left:50%;
                margin-left:-400px;
            }
            
            &.loggedout {
                height:100%;
            }

            select {
                padding:5px;
            }

            div {
                button {
                    padding:10px;
                    border-radius:5px;
                    border:1px solid #aaa;
                    font-size: 14px;
                    vertical-align: middle;
                }

                &#addpost {
                    button {
                        height:46px;
                        &.loading {
                            font-size: 0.01px;
                            width:46px;
                            background-image: url('/img/button-loader.gif');
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                        }
                    }

                    input[type="file"] {
                        position:relative;                       
                        z-index:1;
                        &:before {
                            content: '';
                        }

                        &::-webkit-file-upload-button {
                           
                            border-radius:5px;
                            padding:15px;
                            border:1px solid #aaa;
                        }
                    }

                    #ul-button {
                        display:none;
                        padding: 15px;
                        position: absolute;
                        margin-top: 5px;
                        background-color: #eee;
                        border: 1px solid #aaa;
                        border-radius: 5px;
                        font-size: 14px;
                        z-index: 0;
                        font-family: Arial, Helvetica;
                    }
                }
            }

            input[type="file"] {
                display: block;
                margin:10px 0px;

                &::-webkit-file-upload-button {
                           
                    border-radius:5px;
                    padding:15px;
                    border:1px solid #aaa;
                }
            }

            .file-upload {
                border: 1px solid #aaa;                
                width: 44px;
                height: 44px;
                margin-bottom: 10px;
                border-radius: 5px;
                background-color: #eee;
                text-align: center;
                line-height: 44px;
              
            }

            #emoji-select {
                position:absolute;
                z-index:9; 
                top:100px; 
                background: #fff;
                width:86%;        
                      
                span {
                    font-size: 22px;
                    vertical-align: middle;
                    text-align: center;
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                }

            }

            #resetbox, #passwordsentbox {
                top:100px;
            }

            #reset-password {
                &.loading {
                    font-size: 0.01px;
                    width:46px;
                    background-image: url('/img/button-loader.gif');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }

            #subscribe {
                a {
                    text-decoration: underline;
                }
            }
           

            #profile-upload-filename {
                position: absolute;
                margin-left: 130px;
                font-size: 14px;
                margin-top:-56px;
                display:none;
            }

            #profile-upload-pic {
                position: relative;
                overflow:hidden;
                width:300px;
                height:300px;
                background-color:#efefef;
                text-align:center;
                /*
                background-image: url('/img/profile.png');
                background-size:cover;
                */
                #temp-profile {
                    width:100%;
                    position:relative;
                   
                    &.loading {
                        margin-top: 140px;
                    }
                }
            }

            #feed {
                
            }

            .feed {
                padding-bottom:10px;
                z-index:0; 
                &.showhelp {
                    margin-top:115px;
                }                    
            }  
            
            .lowlight {
                z-index:-1;
                display:none;
            }   

            .postbox {
                position: absolute;
                top: 100px;
                z-index: 1000;
                border: 1px solid #ccc;
                background-color: #fff;   
                padding: 3%;
                border-radius: 5px;
                -webkit-box-shadow: 2px 2px 4px #666;
                box-shadow: 2px 2px 4px #666;
                width: 90%;
                max-width: 450px;   
                left: 50%;
                margin-left: -48%;

                input {
                    padding:5px;
                    width:250px;
                    margin:15px;
                }
             
                button {
                    margin-top: 15px;
                    padding:10px;
                }

                &.tagbox {
                    input {
                        margin:0;
                    }
                }

                &.lowlight {
                    z-index:-1;
                    display:none;
                }  
                
                #reset-email {
                    font-weight:bold;
                }
                
            }

            #keycheck {
                a {
                    color:#666;
                }

                .field_error {
                    background-color:lightpink;
                    border:1px solid red;
                }
            }

            #namecheck {
                input {
                    font-size: 18px;
                    border-radius: 7px;
                    border:1px solid #999;
                    padding:5px;
                }

                button {
                    padding:10px;
                    border-radius:5px;
                    border:1px solid #999;
                }

                #add-user {
                    span {
                        color: transparent;                   
                        font-size: 20px;
                        /*
                        border: solid 1px #999;
                        border-radius: 30px;
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        text-align: center;
                        background: rgba(255,255,255,0.3);
                        */
                    }
                   
                }
            }

            #fail {
                input[type="text"]{
                    font-size: 18px;
                    border-radius: 7px;
                    border:1px solid #999;
                    padding:5px; 
                }                    
            }

            #editbox, #reportbox, #tagbox, #deletebox, #privacybox, #resetbox, #passwordsentbox {
                button {
                    &.cancel {
                        top:0px;
                    }
                }

                textarea {
                    font:inherit;
                    border-radius:7px;
                }
            }

            #deletebox {
                button {
                    &.cancel {
                       top: auto;
                       left:0;
                       margin-left:130px;
                    }
                }
            }

            #privacybox {
                &.postbox {
                    padding-top:50px;
                }

                select {
                    font-family: inherit;
                    border-radius: 5px;
                    height: 38px;
                    margin-top: 5px;
                }

                button {
                    margin-top:-1px;
                }

                button.cancel {
                    margin-top:15px;
                }
            }

            #add-user {
                select {
                    padding:3px;
                }

                label {
                    width:100%;
                    display:block;
                    margin-top:10px;
                    margin-bottom:5px;
                }        

                #show-password {
                    padding:7px;                   
                    &.active {
                        i {
                            color:red;
                        }
                    }
                }

                          
                input {
                    font-size: 18px;
                    border-radius: 7px;
                    border:1px solid #999;
                    padding:5px;

                   &.pwshown:-internal-autofill-selected {                    
                        -webkit-text-fill-color: #666;                    
                    }                     
                   
                }

                input.field_error:-internal-autofill-selected {
                    background-color:pink !important;                    
                }

                button {
                    padding:10px;
                    border-radius:5px;
                    border:1px solid #999;
                }              
               
             
            }

            #add-detail {
                input {
                    padding:5px;
                    font-size: 18px;
                    border-radius: 7px;
                    border: 1px solid #999;
                    margin-bottom:3px;
                }

                button {
                    padding:10px;
                    border-radius: 5px;
                    border: 1px solid #999;
                }
            }

            #addpost {
                background-color: rgba(210,210,210,.75);
                #post-comment {
                    margin-top:5px;
                }

                p {
                    width:150px;
                }

                form {
                    margin-block-end: 0;
                }

                #add-post-emoticon {
                    /* display: inline-block;    */
                    display:none;              
                    margin-top: -36px;
                    margin-left: 130px;
                    border: none;
                    padding: 0;                    
                    height: auto;
                    background:none;
                }

                select {
                    font-family: inherit;
                    border-radius: 5px;
                    height: 38px;
                    margin-top: 5px;
                }
            }  

            #hidebox {
                .cancel{
                    margin-top:0;
                }

                p {
                    padding-top:40px;
                }
            }
            
            #commentbox {
                position:fixed;
                top:60px;
                .cancel {
                    top:0px;
                }
            }
            
            
            #comments {
                overflow-y: scroll;
                width:95%;
                margin-left:2.5%;
                height: 220px;
                margin-top:30px;
                border-radius:5px;

                .comment_wrap {
                    overflow: hidden;
                    margin: 5px 0px;

                    .comment_user {                
                        font-weight: bold;
                        background-color: #f0c88075;
                        padding: 7px;                       
                        display: inline-block;                      
                        line-height: 22px;
                        border-top-left-radius: 10px;
                        font-size:0.9em;

                        a {
                            color: #000;
                            text-decoration: none;
                        }                        
                    }

                    .comment_text {                
   
                        background-color: #eee;
                        padding: 7px;
                        display: inline-block;                          
                        line-height: 22px;
                        border-bottom-right-radius: 10px;
                        font-size:0.9em;
                    }
                }
            }

            #reportbox {
                input {
                    width:30px;
                }
              
            }

            #userconnect {
                a {
                    color:#666;
                }
            }

            #notifications {
                background-color: rgba(210,210,210,.75);
                
                .notify {
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    min-height: 45px; 

                    a {
                        text-decoration: none;
                        font-weight: bold;
                        color: #2396bd;
                    }

                    p {
                        font-size:0.9em;
                        margin-left: 70px;
                        margin-top: -38px; 
                        /* position:absolute; */
                        width:65%;
                        margin-bottom:5px;
                    }

                    h3 {
                        a {
                            text-decoration: none;
                            color:#333;
                        }
                    }

                    .avatar {
                        overflow: hidden;
                        border-radius: 30px;
                        width:40px;
                        height:40px;
                        border: 2px solid #999;

                        img {
                            width:40px;
                            height:40px;
                        }
                    }

                    .noteicon {
                        width: 25px; 
                        position: absolute;
                        text-align: center;
                        font-size: 14px;
                        margin-left: 45px;
                        margin-top: -30px; 
                    }                   
                }

                .issue-button {
                    float: right;
                    margin-top: -50px;
                    color: red;
                }
            }

            #search {
                input {
                    padding:5px;
                }               
            }  
            
            #help-profile {
                position: fixed;
                z-index: 999;
              
                top: 50px;
                width: 92%;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(167,182,207,1) 100%);  
                h3 {
                    i {
                        vertical-align: middle;
                        color:darkblue;
                        padding-bottom:5px;
                    }
                }
            }
                    

            #connections, #follow {
                h3 {
                    margin:10px 0;   
                }
                
                .follow {
                    h3 {
                        margin: 0;
                        padding: 0;
                        margin-left: 55px;
                        margin-top: -31px;
                        float: left;
                        font-size: 16px;

                        a {
                            text-decoration: none;
                            color:#333;
                        }
                       
                    }

                    .buttons {
                        width: 160px;               
                        position: absolute;
                        right: 15px;              
                        margin-top: -42px;

                        button {
                            margin-left:2px;
                            margin-right:3px;
                            padding:10px 2px;
                        }
                    }

                    .avatar {
                        overflow: hidden;
                        border-radius: 30px;
                        width:40px;
                        height:40px;
                        border: 2px solid #999;

                        img {
                            width:40px;
                            height:40px;
                        }
                    }
                } 
                
            }

            #connections {
                h4 {
                    line-height:22px;
                    margin:0;
                } 
                
                .follow {
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    
                       
                }
            }


            #follow {
                .follow {
                    
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    
                    h3 {
                        margin: 0;
                        padding: 0;
                        margin-left: 55px;
                        margin-top: -31px;
                        float: left;
                        font-size: 16px;

                        a {
                            text-decoration: none;
                            color:#333;
                        }
                       
                    }
                   
                }    
            }

            #followbox {
                padding-top:55px;
                top:100px;
                position:fixed;
            }

            #issuebox {
                &.postbox{
                    .cancel {
                        margin-top: 0px;
                    }

                    p{
                        margin-top:20px;
                    }

                    textarea {
                        font-family: inherit;
                        font-size:16px;  
                        width:100%;  
                        border-radius:7px;      
                    }
                }
                
            }

            #profile {
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(167,182,207,1) 100%);  
                overflow:hidden;
       
               .avatar {
                    border-radius:50px;
                    width:80px;
                    height:80px;
                    box-shadow: 0 0 5px #2396bd;

                    overflow:hidden; 
                    img {
                        width:80px;
                        height:80px;
                    }  
                }

                .bio {
                    position: absolute;
                    margin-left: 92px;
                    margin-top: -45px;
                    font-size:14px;
                    width:67%;
                }
                
                h3 {
                    margin: 0;
                    padding: 0;
                    margin-left: 90px;
                    margin-top: -75px;
                    float: left;
                    font-size: 22px;
                }             
               
            }

            #user-profile {               
                
                #lg_profile {
                    img{ 
                        width:100%;
                    }
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    margin-left: 90px;
                    margin-top: -75px;
                    float: left;
                    font-size: 22px;
                }     

                .bio {
                    float: left;
                    margin-left: 90px;
                    margin-top: -50px;
                    font-size: 14px;
                }

                .profile-edit {
                    position:absolute;
                    margin:5px;
                }
            }

            .post, .add, .details {
                border:1px solid #c19e71;                
                margin:15px 5px;
                border-radius:5px;             
                background-color: rgba(210,210,210,.75)
            }

            .post {
                overflow:hidden;
                border-radius: 7px;  

                &.lowlight {
                    z-index:-1;
                    display:none;
                } 

                .avatar {
                    width: 30px;
                    height: 30px;
                    overflow: hidden;
                    position: absolute;
                    border-radius: 20px;
                    margin-top: 10px;
                    margin-left: 12px;
                    z-index: 1;
                    box-shadow: 0px 0px 5px #73b0ef;

                    img {
                        width:100%;
                        height:100%;
                    }
                } 
                
                button {
                    
                    background-color: transparent;
                    border:none;
                    padding-bottom:3px;
                    padding-top:0px;
                    padding-right: 2px;

                    i {
                        color:#000;
                    }                    
                }

                .content-wrap {
                   
                    margin-top:50px;
                    background-color:#fff;

                    .postcontent {
                        padding:5px;
                        position:relative;
                        font-size:1em;

                        &.image {
                            padding:5px;
                        }                      

                        img {
                            width:100%;
                            position:relative; 
                        }                       
                    }

                    .date-time {
                        padding-left:5px;
                        padding-top:3px;
                        padding-bottom:2px;
                        font-size:0.9em;
                        font-style:italic;
                        line-height:1em;
                        color: #666;
                    }
                }

                .options {
                    background-color: #fff;
                    position:absolute;
                    width:120px;
                    padding:5px;
                    left:auto;
                    right:21px;
                    margin-top:7px;
                    box-shadow:4px 4px 7px #333;
                    border-radius:5px;
                    z-index:999;

                    &.hide {
                        display:none;
                    }

                    &.show {
                        display: block;
                        opacity:0.8;
                    }

                    span {
                        display:block;
                        height:35px;
                        line-height:35px;
                        margin-bottom:5px;
                        border-bottom: 1px solid #999;
                    }
                }

                .optionmenu {
                    padding:4px 2px;
                    text-align:left;
                    width:200px;
                    background:none;
                    height:40px;
                    float:left;

                    span {
                        padding:2px;
                        width:35px;
                        height:35px;
                        border:1px solid #ddd;
                        color: #444;
                        display: inline-block;
                        margin:0px 4px;
                        border-radius:5px;
                        text-align:center;
                        font-size:22px;
                        vertical-align :middle;
                        line-height:35px;
                        background-color: rgb(255,255,255);
                        background: linear-gradient(180deg, rgba(255,255,255,0.7) 12%, rgba(214,214,214,1) 100%);

                        &.red {
                            color:red;
                        }

                        &.public {
                            text-shadow: 2px 2px 2px lime;
                            background-color:cornflowerblue;
                        }
                    }
                }

                .reactions {
                    display:block;
                    float:right;
                    margin-top:12px;
                    margin-right:10px;

                    button {
                       &.like {
                        border:none;
                        background: none;
                        color:red;
                       }

                       &:focus {
                            outline: none;
                        }
                    }

                    

                    .post-comments, .post-likes {
                        line-height: 25px;
                        font-size: 15px;
                        vertical-align: top;
                    }

                    .post-button {
                        &.liked {
                            i {
                                color: red;
                            }
                        }

                        &.comment {
                            i {
                                font-weight: bold;
                            }
                        }
                    }
                   
                    
                   
                }
            }
            
            .add {
                padding:10px;  
                textarea {
                    font-family: inherit;
                    font-size:16px;  
                    width:100%; 
                    border-radius:7px;                
                } 

                .greentext {
                    color: #099b04;
                }  

                .redtext {
                    color:#fc3200e8;
                }         
            }

            .details {
                padding:10px;

                .field_error {
                    background-color:lightpink;
                    border:1px solid red;
                }
            }

            .post-button {
                padding-right: 2px;
            }
            
            button {
                &.cancel {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            } 
            
            .biobox, .profilebox {
                position: absolute;
                z-index: 1000;
                border:1px solid #ccc;
                background-color:#fff;
                margin:15px 10px;
                border-radius:5px;
                box-shadow: 2px 2px 4px #666;
                width:86%;
                padding:15px;
                margin-top:20px;

                &.lowlight {
                    z-index:-1;
                    display:none;
                }            
            }

            .profilebox {
                #image {
                    margin: 10px;
                }

                h3 {
                    margin-top:45px;
                }

                #add-bio {
                    textarea {
                        width:100%;
                        font-family: inherit;
                        font-size: 16px;
                        width: 100%;
                        border-radius:7px;
                    }

                    input {
                        padding:7px;
                        border-radius:5px;
                    }

                    button {
                        border-radius: 5px;
                        border: 1px solid #aaa;
                        padding: 15px;
                        padding-bottom:20px;
                        height:46px;
                        font-size:14px;
                        width:70px;  
                        position:absolute;  
                        margin:5px;
                        z-index:9;                    
                    }

                    #post-bio {
                        &.loading {
                            font-size: 0.01px;
                            background-image: url('/img/button-loader.gif');
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                        }
                    }
                }
            }
            
           
        }

        .hidden {
            display:none;
        }
        
        .unhidden {
            display:block;
        }

        .lightbox {
            position:fixed;
            width:100%;
            height:100%;
            left:0;
            right:0;
            top:0;
            bottom:0;
            background-color: #000;
            opacity: 0.7;
            z-index:1;
            display:none;
            overflow:auto;
        
            &.active{
                z-index: 1;
                display:block;
            }
        }

        @keyframes redFadeOut {from { color:red; opacity: 1 }to  { color: white; opacity: 0}}
        @keyframes fadeIn {from { opacity: 0 }to  { opacity: 1}}
        @keyframes fadeOut {from { opacity: 1 }to  { opacity: 0}}

        .like-button-click { animation: redFadeOut 0.75s; }
        .fadeIn {animation: fadeIn 0.5s; }
        .fadeOut {animation: fadeOut 0.5s; }    
        
        
    }
}


